.footer {
    @apply pb-10 pt-10 bg-gray-700;
}

.footerFlex {
    @apply px-10 flex justify-between flex-wrap;
}

.footerItem {
    @apply mb-5;
}

.footerItem {
    @apply text-white;

    h4 {
        @apply text-lg font-bold mb-4;
    }
}

.menuItem {
    @apply mb-3;
}

.menuLinks {
    @apply flex items-center hover:text-orange text-white;
}

.icon {
    @apply text-orange mr-3;
}

.button {
    @apply bg-orange p-3 hover:bg-red transition-all rounded;
}

.footerEnd {
    text-align: center;
    color: white;
    &:hover {
        color: rgb(246 124 9 / var(--tw-bg-opacity));
    }
}