.priceTitle {
	@apply tracking-wide text-center text-3xl  font-bold mb-12;
}
.price {
	@apply py-10 bg-white;
}
.flexItem {
	@apply flex justify-center flex-wrap;
}
.item {
	@apply w-80 text-center rounded;
	border: 1px solid rgba(128, 128, 128, 0.674);
	@media (max-width: 991px) {
		margin: 10px;
	}
	&:nth-child(2) {
		transform: translateY(-20px);
	}
	@media (max-width: 991px) {
		&:nth-child(2) {
			transform: translateY(0px);
		}
	}
	h3 {
		@apply rounded rounded-b-none p-4 text-white text-xl font-bold bg-orange mb-3;
	}
	ul {
		li {
            @apply p-4;
			border-bottom: 1px solid rgba(128, 128, 128, 0.674);
		}
	}
}
.price{
    span{   
        @apply text-xl text-red font-bold inline-block mb-3; 
    }
    @apply flex flex-col;
    button{
        @apply transition-all p-4 bg-orange hover:bg-red text-white rounded-md;
    }
}