.header {
	@apply bg-white;
}
.center {
	@apply px-20 py-2  bg-gray-700;
}
.headerFlex {
	@apply justify-center flex-wrap flex md:justify-between items-center  text-white;
}

.navigation {
	background: white;
	@apply md:justify-end px-20;
	position: relative;
	@media (max-width: 991px) {
		height: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	z-index: 99;
}
.hidden_menu {
	width: 100%;
	@media (max-width: 991px) {
		ul {
			flex-direction: column;
			ul {
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
			}
			button {
				display: none;
			}
		}
		display: none;
		&_active {
			display: block;
			opacity: 1;
			background: white;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
}
.menuToggle {
	display: none;
	@media (max-width: 991px) {
		display: flex;
		justify-content: flex-end;
		position: absolute;
		top: 20px;
		right: 20px;
	}
}
.logoMD{
	display: none;
	@media (max-width: 991px) {
		display: block;
	}
}